.form__item {
  padding: 0;
  border: none;
  max-width: 358px;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form__item:focus {
  outline: none;
}

/*.form__item:last-of-type {
    margin-top: 28px;
}*/

@media screen and (max-width: 552px) {
  .form__item {
    max-width: 238px;
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .form__item {
    padding-bottom: 10px;
  }
  /* .form__item:last-of-type {
        margin-top: 29px;
    }*/
}
