.header__span {
  margin-top: 51px;
  margin-bottom: 46px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  font-family: "Inter";
  font-style: normal;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.header__span:hover {
  opacity: 0.6;
}

.header__span:active {
  opacity: 1;
}
