.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  margin-bottom: 55px;
  width: calc(100% - 400px);
}

@media screen and (max-width: 1080px) {
  .profile {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 881px) {
  .profile {
    width: calc(100% - 100px);
    flex-direction: column;
  }
}

@media screen and (max-width: 475px) {
  .profile {
    width: 282px;
    margin-bottom: 0;
  }
}
