.popup__close {
    background-image: url('../../../images/close-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .4s ease-out;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 786px) {
    .popup__close {
        top: -30px;
        right: -30px;
    }
}

@media screen and (max-width: 500px) {
    .popup__close {
        top: -36px;
        right: 0px;
        width: 20px;
        height: 20px;
        background-size: cover;
    }
}