.profile-info {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px 18px;
    align-self: center;
}

@media screen and (max-width: 881px) {
    .profile-info {
        margin-bottom: 29px;
        gap: 11px 10px;
    }
}
