.element__mask {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 282px;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  /*если картинка не загрузится*/
  background-color: black;
  color: white;
}
