.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 28px 0 0;
  transform: translateX(-6px);
}

@media screen and (max-width: 660px) {
  .profile__avatar {
    margin: 0 auto;
    flex-direction: column;
    transform: none;
  }
}
