@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

@import url("./blocks/root/root.css");
@import url("./blocks/page/page.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__area/profile__area.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__avatar-button/profile__avatar-button.css");
@import url("./blocks/profile-info/profile-info.css");
@import url("./blocks/profile-info/__name/profile-info__name.css");
@import url("./blocks/profile-info/__description/profile-info__description.css");
@import url("./blocks/profile-info/__edit-button/profile-info__edit-button.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");

@import url("./blocks/cards/cards.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__mask/element__mask.css");
@import url("./blocks/element/__delete-btn/element__delete-btn.css");
@import url("./blocks/element/__delete-btn/_disabled/element__delete-btn_disabled.css");
@import url("./blocks/element-container/element-container.css");
@import url("./blocks/element-container/__name/element-container__name.css");
@import url("./blocks/element-container/__like-box/element-container__like-box.css");
@import url("./blocks/element-container/__like-btn/element-container__like-btn.css");
@import url("./blocks/element-container/__span/element-container__span.css");
@import url("./blocks/element-container/__like-btn/_active/element-container__like-btn_active.css");

@import url("./blocks/footer/__copy/footer__copy.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__heading/popup__heading.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/_type/_open-photo/popup_type_open-photo.css");
@import url("./blocks/popup/__main/popup__main.css");
@import url("./blocks/popup/__main-content/__main-content.css");
@import url("./blocks/popup/__open-photo/popup__open-photo.css");
@import url("./blocks/popup/__open-caption/popup__open-caption.css");

@import url("./blocks/form/form.css");
@import url("./blocks/form/__item/form__item.css");
@import url("./blocks/form/__button-submit/form__button-submit.css");
@import url("./blocks/form/__button-submit/_error/form__button-submit_error.css");
@import url("./blocks/form/__button-delete/form___button-delete.css");
@import url("./blocks/form/__item-error/form__item-error.css");
@import url("./blocks/form/__item-error/_active/form__item-error_active.css");
@import url("./blocks/form/__item/_type/_line-error/form__item_type_line-error.css");
