.header {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    width: calc(100% - 400px);
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84);
    margin-bottom: 36.25px;
}

@media screen and (max-width: 1080px) {
    .header {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 881px) {
    .header {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 0;
        width: 100%;
    }
}