.footer__copy {
  max-width: 880px;
  width: calc(100% - 400px);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 0 auto;
  margin-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1080px) {
  .footer__copy {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 881px) {
  .footer__copy {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .footer__copy {
    margin-left: 19px;
    margin-top: 48px;
    margin-bottom: 36px;
    font-size: 14px;
  }
}
